* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
 }
  footer {
  width: 1264px;
  padding: 120px 16px 120px 16px;
  margin: 0 auto;
  background-color: #10367c;
 }
 .row-container {
  display: flex;
  justify-content: space-around;
 } 
 .about-items {
  width: 193px;
  height: 211px;
  list-style: none;
 }
 .property-items {
  width: 133px; 
  height: 310px;
  list-style: none;
 }
 .support-items {
  width: 233px;
  height: 122pt;
  list-style: none;
 }
 .copyright-items{
  width: 256px;
  height: 16px;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
 }
 .text-copyright {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align:center;
  color: #FFFF;
 }
  .text {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  padding-bottom: 20px;
  text-align: left;
  color: #FFFF;
 }
 